* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #666d89;
}

.wrapper {
  width: 1020px;
  margin-left: auto;
  margin-right: auto; 
 
}

.portfolio-wrapper {
  height: 870px;
  background-color: #2d303a;
}

.portfolio-bottom {
  height: 6px;
  background-color: #323746;
}

.content-bottom {
  height: 6px;
  background-color: #fff;
}

.portfolio {
  height: 864px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio p {
  font-size: 18px;
  line-height: 12px;
  margin-top: 27px;
  margin-left: 10px;
  letter-spacing:0px;
  font-weight: 300;
  color: #767e9e;
}

h1,
h2 {
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 60px;
  font-weight: 900;
  letter-spacing: -0.2px;
}
h2{
  padding-top:59px;
}
ul {
  display: flex;
  list-style-type: none;
  margin-left:10px;
  margin-top: 23px;
  font-size: 12px;
 
  
 
}
li a{
  text-decoration: none;
  color :#717997;
  border: 1px solid #666d89;
  border-radius:5px;
  margin-left: 9px;
  padding : 2px 6px 3px 6px;
  font-weight: 400;
  letter-spacing:0.15px;
}
 .li-first-child{
  margin-left:1px;
  color: #dedede;
  border-color:#c5c5c5;
}
.block-images {
  margin-top:23px;
  display: flex;
}
.row-img {
  width: 220px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
}
.row-img :first-child{
  margin-top:0px;
}
.row-img img {
  margin-top:17px;
  width:220px;
  height:187px;
}
.content-wrapper {
  height: 734px;
  background-color: #f2f2f2;
}

.content {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  height: 728px;

}
.content p {
  margin-left: 10px;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  margin-top: 18px;
  margin-bottom:45px;
  margin-right:10px;
  color: #767e9e;
  font-weight: 300;
}
.about-us{
  width: 960px;
  display: flex;
}
.info{
  margin-left: 10px;
  margin-right: 10px;
  width:300px;
}
.info-margin-center {
  margin-left: 9px;
  margin-right:11px;
}
.info img{
  height: 300px;
  width: 300px;
}

h3 {
  font-size: 18px;
  font-weight: 900;
  margin-top:12px;
  text-align: start;
}
.info p{
  font-size: 12px;
  text-align: justify;
  font-weight: 400;
  margin-left:0;
  margin-right:0px;
  margin-top: 8px;
  word-spacing: 0px;
  line-height:21px;
  margin-bottom:24px;
  letter-spacing:0.05px;
}

.social-media img{
  width: 32px;
  height: 32px;
}
.social-media a{
  margin-left: 5px;
}
.social-media a:first-child{
  margin-left:0;
}
