* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  width:100%;
  max-width: 1020px;
  margin-left: auto;
  margin-right:auto;
  
}

.margin {
  margin-left: 10px;
  margin-right: 10px;
}
.wrapper {
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto; 
}

/* header */
header {
  max-width: 1020px;
  width: 100%; 
  position: fixed;
  z-index: 4;
  margin-top:-90px;
}
header h1 {
  color: #fff;
  font-size: 19pt;
  margin-left: 40px;
  font-weight: 700;
  letter-spacing:-0.2px;
}

header span {
  color: #f06c64;
}

.header-1 {
  background-color: #2d303a;
  height: 89px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-2 {
  height: 6px;
  background-color: #323746;
}
.burger {
  position: absolute;
  top: 26px;
  left: 20px;
  display: none;
  transition: all 250ms linear;
  background-color: #2d2f39;
  cursor: pointer;
}
header ul {
  list-style-type: none;
  color: #fff;
  font-size: 12px;
  margin-right: 26px;
  margin-top: 8px;
  display: flex;
  font-weight: 700;
}
.header-li-margin {
  margin-right:14px;
  
}
.menu li a.active {
  color: #f06c64;
}
.li1>a {
  color: #fff;
  text-decoration: none;
  padding-right:12px;
}
.li2>a {
  color:#fff;
  text-decoration: none;
  padding-right: 12px;
}
.li3>a {
  color:#fff;
  text-decoration: none;
  padding-right:0;
}

.li2:before, .li3:before {
  color: #494e62;  
  content: ".";
  position: relative;
  right: 13px;
  bottom: 3px
}

/* slider */
.slider {
  height: 600px;
  background-color:#f06c64;
  position: relative;
  margin-top:90px;
}

.hidden {
  display: none;
}

.slider-1 {
  height: 594px;
  display: flex;
}
#slider-sec {
  position: relative;
}
.slider-sec {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 40.5px ) 
}
.chev-left{
  margin-left:3.9%;
  margin-bottom: 2px;
  position: absolute;
  transform: translate(50%, 282px) ;

}
.chev-right{
  left: 94.1%;
  margin-bottom: 2px;
  position: absolute;
  transform: translate(50%, 282px) ;
}
.img-iphone{
  margin-top: 8.6%;
  margin-left:10.2%;
  position: absolute;
}
.img-iphone2 {
  margin-top: 19%;
  margin-left: 41.7%;
  position: absolute;
}
.slider-2 {
  background-color: #ea676b;
  height: 6px;
  width:100%;
}
.iphone1 {
  display: none;
  height: 333.5px;
  width: 188.5px;
  position: absolute;
  top: 117.5px;
  left: 125.5px;
  background-color: #000000;
  border-radius: 3px;
}


/* services */
.services {
  height: 500px;
  color: #767e9e;
  font-weight: 300;
  margin-left: 30px;
  margin-right: 30px;
}
.services-wrapper{
  background-color: #f2f2f2;
  width: 100%;
}

.services-top {
  height: 173px;
  font-size: 18px;
  line-height:30px;
  text-align: justify;
  font-weight: 300;
  margin-left:10px;
  margin-right: 10px;
}
.services-top h1 {
  font-size: 30px;
  font-weight: 900;
  color: #666d89;
  margin-bottom:21px;
  padding-top:62px;
}

.services-bottom {
  height: 321px;
  display: flex;
}


.sb {
  width: 320px;
}

.sb>section {
  display: flex;
}

.services div {
  border: 2px solid #666d89;
  border-radius: 100%;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 47px;
}

.img-pen {
  width: 33px;
  height: 33px;

}

.img-phone {
  height: 33px;
  width: 22px;

}

.img-bulb {
  height: 33px;
  width: 24px;
}

.img-bubble {
  height: 30px;
  width: 32px;
}

.img-heart {
  height: 30px;
  width: 32px;
}

.img-star {
  height: 32px;
  width: 32px;
}
.services-bottom p {
  width: 220px;
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  margin-top:8px;
  word-spacing:-1px;
  text-align: justify;
}
.services-bottom p span{
  word-spacing: 1px;
}
.services h2 {
  width: 220px;
  font-size: 18px;
  font-weight: 900;
  margin-top:-16px;
}

.services-margin-top {
  margin-top: 43px;
}

.sb-content {
  height: 80px;
}

.services-margin-top-p {
  margin-top: 4px;
}
.services-margin-left {
  margin-bottom: 4px;
}

.portfolio-wrapper {
  height: 869px;
  background-color: #2d303a;
}

.portfolio-bottom {
  height: 6px;
  background-color: #323746;
}

.content-bottom {
  height: 6px;
  background-color: #fff;
}

.portfolio {
  height: 863px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio p {
  font-size: 18px;
  line-height: 1.2;
  margin-top: 26px;
  margin-left: 10px;
  letter-spacing:0px;
  font-weight: 300;
  color: #767e9e;
}

.portfolio h1, h2, .portfolio h3 {
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 60px;
  font-weight: 900;
  letter-spacing: -0.2px;
  color: #666d89 ;
}
.portfolio h2{
  padding-top:59px;
}
.portfolio ul {
  display: flex;
  list-style-type: none;
  margin-left:10px;
  margin-top: 23px;
  font-size: 12px;
 
  
 
}
.portfolio li a{
  text-decoration: none;
  color :#717997;
  border: 1px solid #666d89;
  border-radius:5px;
  margin-left: 9px;
  padding : 2px 5px 3px 5px;
  font-weight: 400;
  letter-spacing:0.15px;
}
.portfolio ul li .li-first-child{
  margin-left:1px;
  color: #dedede;
  border-color:#c5c5c5;
}
.block-images {
  margin-top:23px;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1020px;
}
.block-images img {
  width: 220px;
  height: 187px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  margin-top:17px;
}


.block-images img.active {
  border: 3px solid #F06C64;
  height: 181px;
  width: 214px;
}
.content-wrapper {
  height: 734px;
  background-color: #f2f2f2;
}

.content {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  height: 728px;

}
.content p {
  margin-left: 10px;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  margin-top: 18px;
  margin-bottom:45px;
  margin-right:10px;
  color: #767e9e;
  font-weight: 300;
}
.about-us{
  width: 960px;
  display: flex;
}
.info{
  margin-left: 10px;
  margin-right: 10px;
  width:300px;
}
.info-margin-center {
  margin-left: 9px;
  margin-right:11px;
}
.info img{
  height: 300px;
  width: 300px;
}

.info h3 {
  font-size: 18px;
  font-weight: 900;
  margin-top:12px;
  text-align: start;
  color: #666d89 ;
}
.info p{
  font-size: 12px;
  text-align: justify;
  font-weight: 400;
  margin-left:0;
  margin-right:0px;
  margin-top: 8px;
  word-spacing: -0.7px;
  line-height:21px;
  margin-bottom:24px;
  letter-spacing:-0px;
}
.social-media{
  margin-left:1px;
}
.social-media-1px{
  margin-left:0px;
}
.social-media img{
  width: 32px;
  height: 32px;
}
.social-media a{
  margin-left: 5px;
}
.social-media a:first-child{
  margin-left:0;
}

.Get_a_Quote_wrapper{
  height: 654px;
  background-color:#f06c64;
}
.Get_a_Quote{
  width:940px;
  margin-left: auto;
  margin-right: auto;
  color:#f0d8d9;
  height:648px;
}
.Get_a_Quote p{
  font-size: 18px;
  text-align: justify;
  font-weight: 300;
  margin-top:18px;
  line-height:30px;
}
h2 {
  padding-top: 59px;
  font-size: 30px;
}
.forms_with_contact_info{
  display: flex;
  margin-top:44px;
  width: 940px;
  margin-left:auto;
  margin-right: auto;
}
.forms {
  width: 620px;

}
.forms input,textarea{
  background-color: #d6564f;
  border-radius: 5px;
  width: 100%;
}
textarea{
  resize: none;
  border: none;
  height:202px;
  text-indent: 10px;
  color: #f2888b;
  font-size: 11px;
}
.form_text {
  width: 619px;
  height:38px;
  border: none;
  text-indent: 10px;
  color: #f2888b;
  font-size: 11px;
}
.forms_margin_top {
  margin-top:16px;
}
.contact_info{
  margin-left: 20px;
  margin-top:-2px;
  width:32%;
}
h4{
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0px; 
  margin-bottom:0;
}
.contact_info p {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  word-spacing: -1px;
  text-align: justify;
  margin-top:8px;
  letter-spacing: 0.1px;
}
ol {
  margin-top:25px;
  margin-left: 18px;
  line-height:21px;
}
ol li:first-child {
  list-style-image: url(assets/location.png);
  margin-left:0px;
  padding-left: 6px;
  
}
ol li {
  list-style-image: url(assets/phone1.png);
  font-size: 12px;
  margin-left: 2px;
  padding-left: 4px;
}
ol li:last-child {
  list-style-image: url(assets/mail.png);
  margin-left:3px;
  padding-left: 3px;
  line-height:23px;
}

.Get_a_Quote_bottom {
  height:6px;
  background-color: #ea676b;
  justify-items: bottom;
}
footer {
  height:76px;
  background-color: #2d303a;
  color: #666d89;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing:0px;
}
.Get_a_Quote h2{
  color: #f0d8d9;
  margin-left:0;
}

footer .social-media img{
  margin-left: 1px;
}

.social-media a:first-child{
  margin-left:0;
}
footer .social-media {
  margin-right: 40px;
  margin-top: 2px;
}
footer p {
  margin-left: 41px;
  font-weight: 300;
  margin-bottom:1px;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color:#f2888b;;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color:#f2888b;;
}
input:-moz-placeholder ,
textarea:-moz-placeholder {
  color: #f2888b;;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color:#f2888b;;
}
.message-block {
  position: absolute;
  width: 200px;
  height: 100%;
  top: 0;
  left: 0;
  background: #f2888b;
}
.message-block.hidden {
  display: none;
}
.message {
  position: fixed;
  width: 200px;
  text-align: center;
}

@media  (max-width: 1019px) {

 .services-bottom {
   flex-wrap: wrap;
   justify-content: center;
 }
 .sb-f {
   display: flex;
   width:640px;
   margin-top:-80px; 
 }
 .sb-f .services-margin-top {
   margin-top:0px;
 }
 .services {
   height: 639px;
 }
 .services-bottom {
   height: 460px;
 }
 .portfolio h1,
 .portfolio ul {
   margin-left:30px;

 }
 .portfolio p{
   width: 92.3%;
   margin-left: 30px  ;
   margin-right: 30px;
 }
 .portfolio{
   width: 100%;
 }
 .block-images {
   max-width: 708px;
   height:612px;
 }
 .block-images img {
  width: 216px;
  height: 183px;
 }
 .info {
   max-width: 300px;
   width: 32%;
 }
 .info img.info-img{
  display: inline-block;
  max-width: 300px;
  width: 100%;
  height: auto;
 }
 .about-us {
   max-width:1020px;
   width: 100%;
 }
 .content {
  width:100%;
  max-width:1020px;
 }
 .Get_a_Quote_wrapper {
  width:100%;
  height:674px;
 }
 .Get_a_Quote{
   height:668px;
   width: 100%;
 }
 .forms {
   width: 65.8%;
 }
 .forms_with_contact_info{
   width:100%;
   max-width:940px;
 }
 .contact_info{
  width: 32%;
 }
 .wr {
   width: 92.2%;
   margin-left: auto;
   margin-right: auto;
 }
 .img-iphone {
   height:338.1px;
   width: 168px;
 }
 .img-iphone2{
   width: 338.8px;
 }
 .slider-sec {
    width:364.7px;
    height: 359.1px;
    transform: translate(-50%, 120.5px ) 
  }
  .slider {
    height: 420px;
  }
  .slider-1 {
    height: 415.8px;
  }
  .chev-left{
    transform: translate(50%, 197.4px) ;
  }
  .chev-right{
    transform: translate(50%, 197.4px) ;
  }
}
@media ( max-width: 700px) {
.services {
  height: 1002px;
}
.sb-f {
  display: block;
  margin-top:0;
}
.sb-f .services-margin-top {
  margin-top:42px;
}
.sb {
  margin-top:42px;
}
.sb.sb-f {
  width:320px;
}
.services-wrapper {
  height :1106px;
}
}

@media  (max-width: 767px) {

  .block-images {
    width: 472px;
    margin-left: auto;
    margin-right: auto;
  }
  .info{
    margin-left: auto;
    margin-right: auto;
    width:300px;
  }
  .burger {
    display: block;
    z-index: 5;
  }
  header {
    width:100%;
  }
  .portfolio p {
    width: 92.1%;
  }
  .header-1 ul{
    display: none;
  }
  .header-1 {
    justify-content: center;
  }
  .services-wrapper {
    height :680px;
  }
  .services-top {
    height: 260px;
  }
  .content-wrapper {
    height:1760px;
  }
  .about-us {
    display: block;
  }
  .chev-left{
    transform: translate(50%, 197.4px) ;
  }
  .chev-right{
    transform: translate(50%, 197.4px) ;
  }
  .info {
    margin-top:45px;
  }
  .info img{
    height: 300px;
    width: 300px;
   }
  .social-media{
    margin-left:1px;
  }
  .social-media-1px{
    margin-left:0px;
  }
  .social-media a img{
    width: 32px;
    height: 32px;
  }
  .social-media a{
    margin-left: 5px;
  }
  .social-media a:first-child{
    margin-left:0;
  } 
  .content {
   height:  1766px;
  }
  .forms_with_contact_info {
    display: block;
  }
  .forms, .contact_info {
    width: 100%;
  }
  .contact_info {
    width: 92.1%;
  }
  .Get_a_Quote_wrapper{
    height:899px;
  }
  .Get_a_Quote {
    height: 89px;
  }
  .img-iphone2 {
    width: 168px;
    height:79px;
  }
  .img-iphone {
    width: 79px;
    height: 168px;
  }
  @media (max-width: 490px) {
    .block-images img{
      width: 151px;
      height: 128px;
    }
    .block-images {
      width: 342px;
    }
  }
}
